
### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# plan files
*.tfplan

# For this example, ignore lock file (normally check this in)
.terraform.lock.hcl
